
/* 그리드 */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'SqoqaHanSansNeo';
  font-weight: 700;
  /* line-height: 1.1; */
  color: inherit;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 2.5vh;
  margin-bottom: 0px;
}
.h4,
.h5,
.h6,
h4,
h5,
h6 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.h1,
h1 {
  font-size: 2em;
}
.h2,
h2 {
  font-size: 1.5em;
}
.h3,
h3 {
  font-size: 1.17em;
}
.h4,
h4 {
  font-size: 1em;
}
.h5,
h5 {
  font-size: .83em;
}
.h6,
h6 {
  font-size: .67em
}
p {
  margin: 1em auto 0;
}

.necessary {
  color : #CC1F36;
}

/* 연한 폰트 */
.light-font {
  font-family: 'SqoqaHanSansNeo';
  font-weight: 400; 
  font-style: normal;
}

/* topappbar없을때 그만큼 공간 띄워주는 wrapper */
.normal-wrapper{
  height: 8vh;
}

/* 페이지 자동 여백 */
.page-wrapper {
  margin: 0 2rem;
  padding: 4vh 0;
}

.page-semi-wrapper {
  margin: 0 2rem;
  padding-top: 4vh;
}


/* .comment-list-wrapper {
  
} */


/* 단락, signup, profile update에서 사용 */
.paragraph {
  margin-top: 2vh;
}


/* 제목 */
.phrase {
  display: inline;
  text-align: start;
  line-height: 3.5vh;
  font-weight: 700;
  margin-left: 3rem;
}

.input-label {
  width: 60%;
  margin-top: 3rem;
  margin-left: 1.5rem;
  padding: 0;
}

.input-wrapper {
  margin-left: 1rem;
}



/* 입력창(input) */
input {
  padding: 10px;
  margin: 1rem auto;
  border: none;
  border-radius: 8px;
  /* flex-basis: 80vw; */
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 80%;

}

input::placeholder {
  font-size: .83em;
  font-family: 'SqoqaHanSansNeo';
  font-weight: 400; 
  font-style: normal;
}

.input-placeholder-style {
  font-size: .83em;
  font-family: 'SqoqaHanSansNeo';
  font-weight: 400; 
  font-style: normal;
}

/* input을 포함하고 있는 문장이거나 인풋의 역할을 하는 요소 */
.input-role {
  margin: 1rem auto;
}

.input-bolder {
  border: 5px solid rgba(160, 145, 245, .5);
  border-radius: 10px;
}


/* 프로필 사진 (profile update) */
.profile-img-wrapper {
  position: relative;
  height: 20vw;
  width: 20vw;
}


.profile-img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50, 50);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

/* 팔로워 팔로우 리스트 프로필 사진 */
.follow-img-wrapper {
  position: relative;
  height: 15vw;
  width: 15vw;
}

/* 게시판 프로필 사진 */
.board-img-wrapper {
  position: relative;
  height: 12vw;
  width: 12vw;
}

.board-badge {
  height: 1.5rem;
  width: 1.5rem;
}

.profile-badge {
  height: 2rem;
  width: 2rem;
}

.profile-icon {
  height: 1.25rem;
  width: 1.25rem;
}

/* .input-line {

} */
.wrap-group {
  /* position: relative; */
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  flex-direction: column;
  display: flex;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* width: 100%; */
}


.type-group {
  position: relative;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* align-items: stretch; */
  width: 100%;

}

.label-group {
  display: block;
  align-items: stretch;
  margin-top: 2rem;
}


.button-group {
  margin-top: 4rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

/* 버튼 */
.ripple-button {
  border: none;
  margin: 8px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}


.ripple-button > .ripple {
  width: 20px;
  height: 20px;
  position: absolute;
  background: #bebdfaad;
  display: block;
  content: "";
  border-radius: 9999px;
  opacity: 1;
  animation: 0.9s ease 1 forwards ripple-effect;
}

/* 아이콘 */
.ripple-icon {
  width: 25vw;
  height: 13vh;
  border: none;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.ripple-icon > .ripple {
  width: 10px;
  height: 10px;
  position: absolute;
  background: #bebdfaad;
  display: block;
  content: "";
  border-radius: 9999px;
  opacity: 1;
  animation: 0.9s ease 1 forwards ripple-effect;
  pointer-events: none;
}

.ripple-icon > img {
  pointer-events: none;
}




/* 뒤로가기 버튼 */
/* .back-button {
  
  padding: 1.1rem; */
  /* left: 1.1rem;
  top: 1.1rem; */
  /* z-index: 10;
} */

/* position: fixed;
width: 6vw;
height: 6vw;
 */
.back-button-wrapper{
  position: static;
  display: block;
  height: 8vh;
  border-bottom: 0.1px solid rgba(160, 145, 245, .5);
}

.ripple-back-button {
  padding: 1.1rem;
  border: none;
  overflow: hidden;
  position: fixed;
  cursor: pointer;
  box-sizing: border-box;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center; 
  z-index: 5;
}


.ripple-back-button > .ripple {
  width: 3px;
  height: 3px;
  position: absolute;
  background: #bebdfaad;
  display: block;
  content: "";
  border-radius: 9999px;
  opacity: 1;
  animation: 0.9s ease 1 forwards ripple-effect;
  pointer-events: none;
}


.normal-backbutton > img {
  pointer-events: none;
  width: 6vw;
}

.message-backbutton > img {
  pointer-events: none;
  width: 6vw;
  height: 6vh;
}

@keyframes ripple-effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(10);
    opacity: 0.375;
  }
  100% {
    transform: scale(35);
    opacity: 0;
  }
}

.ripple-button > .content {
  user-select: none;
  position: relative;
  z-index: 2;
}

/* =================================== */

/* 글쓰기 아이콘 */
.write-button {
  /* fixed-bottom */
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1rem;
  z-index: 1030;
}

.write-button img {
  height: 8vh;
  width: 8vh;
}

.write-button > .ripple {
  width: 10px;
  height: 10px;
  position: absolute;
  background: #bebdfaad;
  display: block;
  content: "";
  border-radius: 9999px;
  opacity: 1;
  animation: 0.9s ease 1 forwards ripple-effect;
}

/* nav바와 함께있어서 조금 올라와있는 글쓰기버튼 */

.write-button-with-nav {
  /* fixed-bottom */
  position: fixed;
  right: 0;
  bottom: 10vh;
  z-index: 1030;
}

.write-button-with-nav img {
  height: 10vh;
  width: 10vh;
}

.write-button-with-nav > .ripple {
  width: 10px;
  height: 10px;
  position: absolute;
  background: #bebdfaad;
  display: block;
  content: "";
  border-radius: 9999px;
  opacity: 1;
  animation: 0.9s ease 1 forwards ripple-effect;
}




/* ====================================== */

/* 일반 버튼 */

.cbtn {
  /* flex-direction: row;
  justify-content: center;
  align-items: center; */
  margin: 0.5rem 1rem;
  position: relative;
  border-style: none;
  font-family: inherit;
}
.cbtn-sm {
  padding: 9px 12px;
  font-size: 12px;
  line-height: 1.5;
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
}
.cbtn-lg {
  padding: 9px 12px;
  width: 60%;
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  
}

.cbtn-primary {
  background: #5552FF;
  /* 🌔 Shadow / Z-index 1 */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: #fff;
}

.cbtn-secondary {
  background: #ECECFF;
  color: #5552FF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid #9392FF;
  
}
/* 더 연한 색 c8c6fc */
.cbtn-light {
  background: #c8c6fc ;
  /* 🌔 Shadow / Z-index 1 */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: #0b1f44;
}

.cbtn-checked {
  padding: 8px 24px;
  background: rgba(84, 85, 229, 0.4);
  color: #0b1f44;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
}

.cbtn-disabled {
  /* 🌔 Shadow / Z-index 1 */
  background: #c2c2c2;
  border-radius: 8px;
  color: #818181;
  pointer-events: none;
}

.cbtn-none {
  background: #ECECFF;
  color: #5552FF;
  border-radius: 8px;
}

.cbtn-green {
  /* 🌔 Shadow / Z-index 1 */
  background: #3ED3A3;
  border-radius: 8px;
  color: #ECECFF;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

/* .animated-button {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 1px solid #5310a0;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	border-radius: 8px;
}
.animated-button:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nfour;
}
.animated-button:hover:before {
	right: 0%;
	left: auto;
	width: 100%;
}
.animated-button:before {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #5552FF;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
} */


/* 좋아요, 북마크, 댓글 애니메이션 */


.heart_full:active {
  transform: scale(0.1);
  opacity: 0.5;
}

.heart_full{
  width: 9vw;
  height: 5vh;
  transition: 0.1s;
}

.bookmark_full, .bookmark_empty{
  width: 9vw;
  height: 5vh;
  transition: 0.1s;
}

.bookmark_full:active {
  transform: scale(0.1);
  opacity: 0.5;
}

.comment-form-wrapper{
  height: 10vh;
  /* fixed-bottom */
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  border-top: 0.1px solid rgba(160, 145, 245, .5);
}
/*그룹채팅방에서 햄버거 가리는 용도*/
.white-square{
  width: 50px;
  height: 45px;
  position: fixed;
  top: 10px;
  right: 0px;
  margin-right: var(--xs-m);
  padding: var(--xs-p) var(--xs-p) var(--xs-p) 0px;
  z-index: 100000;
  opacity: .99;
  background-color: white;
}
/* 간단한 css 속성 */
.ml-2rem {
  margin-left: 2rem;
}

.ml-1_5rem {
  margin-left: 2rem;
}

.text-main {
  color: #5552FF;
}

input[type='radio'],
input[type='radio']:checked {
  appearance: none;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 100%;
  margin-right: 0.2rem;
}

input[type='radio'] {
  background-color: #ffffff;
  border: 1px solid #5b0a76;
}
input[type='radio']:checked {
  background-color: #c3a0ebf3;
}