.view {
  position: fixed;
  display: block;
  width: 100vw;
  /* 100 - topappbar - navbar */
  height: 82vh;
  /* navbar */
  /* bottom: 13vh; */
  overflow-y: auto;
  overflow-x: hidden;
}


.noTopview {
  position: fixed;
  display: block;
  width: 100vw;
  height: 92vh;
  overflow-y: auto;
  /* 기본설정 visible */
  overflow-x: hidden;
}

.noNavview{

}