.view {
  position: fixed;
  display: block;
  width: 100vw;
  /* 100 - topappbar - navbar */
  height: 75vh;
  /* navbar */
  /* bottom: 13vh; */
  overflow-y: auto;
  overflow-x: hidden;
}


.noTopview {
  position: fixed;
  display: block;
  width: 100vw;
  height: 74vh;
  margin: 0 2rem;
  padding: 4vh 0;
  overflow-y: auto;
  /* 기본설정 visible */
  overflow-x: hidden;
}

.noNavview{

}