.view {
  position: fixed;
  display: block;
  width: 100vw;
  /* 100 - topappbar - navbar */
  height: 75vh;
  /* navbar */
  /* bottom: 13vh; */
  overflow-y: auto;
  overflow-x: hidden;
}

/* 없애도 일단 변화 없음 */
.noTopview {
  position: fixed;
  display: block;
  width: 100vw;
  overflow-y: auto;
  /* 기본설정 visible */
  overflow-x: hidden;
}

.noNavview{

}