@font-face {
  font-family: 'SqoqaHanSansNeo-Regular';
  src: url(./fonts/SpoqaHanSansNeo-Regular.ttf) format('truetype');
  /* normal */
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: 'SqoqaHanSansNeo-Bold';
  src: url(./fonts/SpoqaHanSansNeo-Bold.ttf) format('truetype');
  /* bold */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SqoqaHanSansNeo-Medium';
  src: url(./fonts/SpoqaHanSansNeo-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SqoqaHanSansNeo';
  src: url(./fonts/SpoqaHanSansNeo-Light.ttf) format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SqoqaHanSansNeo';
  src: url(./fonts/SpoqaHanSansNeo-Thin.ttf) format('truetype');
  font-weight: 100;
  font-style: normal;
}

.Tmoney {
  font-family: 'TmoneyRoundWind';
  src: url(./fonts/TmoneyRoundWindRegular.ttf) format('truetype');
  /* normal */
  font-weight: 400;
  font-style: normal;
  }

.Tmoney {
  font-family: 'TmoneyRoundWind';
  src: url(./fonts/TmoneyRoundWindExtraBold.ttf) format('truetype');
  /* bold */
  font-weight: 700;
  font-style: normal;
  }



body {
  margin: 0;
  font-family: 'SqoqaHanSansNeo';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 700;
  color: #0b1f44;
  background-color: #ECECFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
