.topappbar {
  position: static;
  display: block;
  height: 8vh;
  border-bottom: 0.1px solid rgba(160, 145, 245, .5);
}

.topapplist {
  position: fixed;
  right: 1.3rem;
  top: 1rem;

}


h2 {
  text-align: center;
}

.logo-wrapper {
  position: fixed;
  top: 0.9rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.logo {
  width: 25vw;
  
}

.closerbot {
  width: 10vw;
  margin: 0.2rem 0.6rem 0 0;
  transition: 0.1s;
}

.closerbot:active {
  transform: scale(0.1);
  opacity: 0.5;
}

.search {
  width: 7vw;
  transition: 0.1s;
}

.search:active {
  transform: scale(0.1);
  opacity: 0.5;
}

