.container{
    display: grid;
}
.profilepart{
    display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(7, 17%);
}

.item1 {
	grid-column: 1 / 5;
	grid-row : 1 / 3;
}

.item2 {
	grid-row: 3 / 5;
}

.item3 {
	grid-template-columns: 2 / span 1;
}

.item4 {
	display: flex;
	text-align:center;
	vertical-align:middle;
	margin-top: 0.3vh
}

.item5{
	
}

.userName{
    font-weight: 900;
}

.userYear{
    font-weight: 500;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    position: relative;
}


.userLocation{
    font-size: 1.8vh;
}

.item6 {
    grid-column : 2 / span 3;
}

.item7{
	/* text-align:center;
	vertical-align:middle; */
	margin-top: 0.8vh;
	grid-column : 2 / 3 ;
}

.item8{
	/* text-align:center;
	vertical-align:middle; */
	margin-top: 0.8vh;
	grid-column : 3 / 4 ;
}

.item9 {
    grid-column : 5 / 1 ;
	/* text-align:center;
	vertical-align:middle; */
	margin-top: 0.5vh;
}

.item10{
	text-align:center;
	vertical-align:middle;
	margin-top: 0.3vh
}

.item11{
	text-align:center;
	vertical-align:middle;
	margin-top: 0.3vh
}

.item12 {
    grid-column : 4 / 5 ;
	margin-top: 0.3vh;
}

.backarrow {
	width: 5vw;
	height: 5vh;
}

.myprofilepost{
    background-color: #c8c6fc;
    display: grid;
	margin-top: 5vh;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 5vw ;
}

.animated-button {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 1px solid #5310a0;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	border-radius: 8px;
}
.animated-button:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nfour;
}
.animated-button:hover:before {
	right: 0%;
	left: auto;
	width: 100%;
}
.animated-button:before {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #5552FF;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.myfeed{
	text-align:center;
	vertical-align:middle;
	margin-top: 0.3vh;
}

.mypost{
	text-align:center;
	vertical-align:middle;
	margin-top: 0.3vh;
}

.mybookmark{
	text-align:center;
	vertical-align:middle;
	margin-top: 0.3vh;
}

