.search-category div {
  font-size: 0.75rem;
}

.searchbar-input {
  width: 85%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.searchbar-button {
  background: #5552FF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 0;
  color: white;
  padding: 0.5rem;
  width: 40px;
}

.search-category-collapse {
  background: #c8c6fc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 0;
  color: white;
  padding: 0.5rem;
  width: 80%
}

.search-category-select {
  background: #5552FF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 0;
  color: white;
  padding: 0.5rem;
  width: 96px;
}

.search-category-button .row {
  padding-top: 0.5rem;
}

.search-category-button .col {
  text-align: center;
}

.search-category {
  padding-top: 0.5rem;
}